.container{
    width: 100%;
    height: 100vh;
    background-image: url("images/slider_background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.iron-man img{
    width: 250px;
    border-radius: 30px;
    cursor: pointer;
}
.iron-man img:hover{
    filter: drop-shadow(0 0 5px white);
}
.captain-america img{
    height: 400px;
    width: 250px;
    border-radius: 30px;
    cursor: pointer;
}
.captain-america img:hover{
    filter: drop-shadow(0 0 5px white);
}
.thor img{
    height: 400px;
    width: 250px;
    border-radius: 30px;
    cursor: pointer;
}
.thor img:hover{
    filter: drop-shadow(0 0 5px white);
}